<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Employee</title>
<!--resource config  -->
<!--<link rel="stylesheet" type="text/css" th:href="@{/public/css/style.css}"/>  -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:replace="common/header :: header"></div>
	<p>=====================================================================</p>
	<form th:action="@{/upload-file}" enctype="multipart/form-data"	method="post">
		<input name="file" type="file" /> 
		<input type="submit" value="upload" />
	</form>
	<div th:replace="common/footer :: footer"></div>
</body>
</html>